notifications:
  - slack: wtsi-cgpit:ptUMR1tkNyZJYd9TpGoss8WR
      on_failure: change
  - email: false

sudo: true

language: node_js

node_js:
 - node

install:
  - npm install -g eslint
  - npm install puppeteer commander mkdirp

before_script:
  - "sudo chown root /opt/google/chrome/chrome-sandbox"
  - "sudo chmod 4755 /opt/google/chrome/chrome-sandbox"

script:
  - eslint js
  - node js/jbrowse_rasterize.js --version
