notifications:
  slack: wtsi-cgpit:ptUMR1tkNyZJYd9TpGoss8WR
  email: false

sudo: false

language: node_js

node_js:
 - node

env:
  - CHROMIUM_FLAGS="--no-sandbox"

install:
  - npm install -g eslint
  - npm install puppeteer commander
  - pip install --user sphinx sphinx-autobuild sphinx_rtd_theme

script:
  - js/jbrowse_rasterize.js --locs test/volvox.bed --navOff --baseUrl 'http://jbrowse.org/code/JBrowse-1.12.4/?tracks=DNA%2CTranscript%2Cvolvox-sorted_bam_coverage%2Cvolvox-sorted_bam&data=sample_data%2Fjson%2Fvolvox'
  - eslint js
  - cd docs && make html
