notifications:
  slack: wtsi-cgpit:ptUMR1tkNyZJYd9TpGoss8WR
  email: false

sudo: false

language: node_js

node_js:
 - node

install:
  - npm install -g eslint
  - pip install --user sphinx sphinx-autobuild sphinx_rtd_theme

script:
  - eslint js
  - cd docs && make html
