notifications:
  slack: wtsi-cgpit:ptUMR1tkNyZJYd9TpGoss8WR
  email: false

sudo: true

language: node_js

node_js:
 - node

install:
  - npm install -g eslint http-server
  - npm install puppeteer commander
  - pip install --user sphinx sphinx-autobuild sphinx_rtd_theme

before_script:
  - "sudo chown root /opt/google/chrome/chrome-sandbox"
  - "sudo chmod 4755 /opt/google/chrome/chrome-sandbox"
  - ./local_server.sh >& server.log&
  - sleep 3

script:
  - js/jbrowse_rasterize.js --locs test/volvox.bed --navOff --baseUrl 'http://localhost:8080/?tracks=DNA%2CTranscript%2Cvolvox-sorted_bam_coverage%2Cvolvox-sorted_bam&data=sample_data%2Fjson%2Fvolvox'
  - ls -l ctgA_17174-23150.png
  - js/jbrowse_rasterize.js --imgType jpeg --locs test/volvox.bed --navOff --baseUrl 'http://localhost:8080/?tracks=DNA%2CTranscript%2Cvolvox-sorted_bam_coverage%2Cvolvox-sorted_bam&data=sample_data%2Fjson%2Fvolvox'
  - ls -l ctgA_17174-23150.jpeg
  - js/jbrowse_rasterize.js --locs test/volvox_urlEmbedded.bed --navOff
  - ls -l EmbeddedUrl/ctgA_17174-23150.png
  - js/jbrowse_rasterize.js --locs test/volvox_urlEmbedded.bed --navOff --imgType pdf
  - ls -l EmbeddedUrl/ctgA_17174-23150.pdf
  - js/jbrowse_rasterize.js --locs test/volvox_urlEmbedded.bed --navOff --imgType pdf --zoom 2 --outdir z2
  - ls -l z2/EmbeddedUrl/ctgA_17174-23150.pdf
  - js/jbrowse_rasterize.js --locs test/volvox_urlEmbedded.bed --navOff --imgType png --zoom 2 --outdir z2
  - ls -l z2/EmbeddedUrl/ctgA_17174-23150.png
  - js/jbrowse_rasterize.js --locs test/volvox_urlEmbedded.bed --navOff --imgType png --outdir compact --dMode compact
  - ls -l compact/EmbeddedUrl/ctgA_17174-23150.png
  - eslint js
  - cd docs && make html
